In [74]:
import sys
sys.path.append(r"C:\Users\nithi\VS_CODE\MYSQL-REDSHIFT-PIPELINE\src")
from db_connect import Database

Database(db_schema="public", database_type="redshift")
# from sqlalchemy import create_engine, MetaData, text
# from sqlalchemy.ext.automap import automap_base
# import os
# from sqlalchemy.orm import sessionmaker
# from sqlalchemy import select
# db = create_engine(f'postgresql://admin:AWSMagesh1@test-work.432069170121.eu-north-1.redshift-serverless.amazonaws.com:5439/dev')

c:\Users\nithi\VS_CODE\MYSQL-REDSHIFT-PIPELINE\src\db_connect.py:57: SAWarning: Did not recognize type 'super' of column 'empadd'
  Database.Base.prepare(db, reflect=True)

In [75]:
from db_connect import DatabaseUtils
db = DatabaseUtils()
session =  db.create_session()

In [76]:
classes = Database.get_classes()
print(classes)

<sqlalchemy.util._collections.Properties object at 0x0000016E74EBC6A0>

In [77]:
for cla in classes:
  print(cla)
#   # for col in cla.*:
#   #   print(col)
# print(classes.first_rs)
# metadata = Database.get_metadata()
# # session.query(metadata.tables['tbl_employees']).all()
# print(type(metadata.tables))
# print(metadata.tables["public.first_rs"])

<class 'sqlalchemy.ext.automap.tbl_employees'>

In [6]:
help(classes)

Help on Properties in module sqlalchemy.util._collections object:

class Properties(builtins.object)
 |  Properties(data)
 |
 |  Provide a __getattr__/__setattr__ interface over a dict.
 |
 |  Methods defined here:
 |
 |  __add__(self, other)
 |
 |  __contains__(self, key)
 |
 |  __delitem__(self, key)
 |
 |  __dir__(self)
 |      Default dir() implementation.
 |
 |  __getattr__(self, key)
 |
 |  __getitem__(self, key)
 |
 |  __getstate__(self)
 |
 |  __init__(self, data)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |
 |  __len__(self)
 |
 |  __setattr__(self, key, obj)
 |      Implement setattr(self, name, value).
 |
 |  __setitem__(self, key, obj)
 |
 |  __setstate__(self, state)
 |
 |  as_immutable(self)
 |      Return an immutable proxy for this :class:`.Properties`.
 |
 |  clear(self)
 |
 |  get(self, key, default=None)
 |
 |  has_key(self, key)
 |
 |  items(self)
 |
 |  keys(self)
 |
 |  update(self, value)
 |
 |  values(self)

In [78]:
classes.items()

[('tbl_employees', sqlalchemy.ext.automap.tbl_employees)]

In [79]:
classes.get("tbl_employees")

sqlalchemy.ext.automap.tbl_employees

In [17]:
for cl in classes:
  print(cl)

<class 'sqlalchemy.ext.automap.tbl_employees'>

In [11]:
classes = Database.get_classes()
table_name = classes.tbl_employees
# old_id = old_data_json["id"]
get_data = (session.query(table_name).filter(table_name.id == 1))

In [12]:
type(get_data)

sqlalchemy.orm.query.Query

In [18]:
table_name = classes.tbl_employees
get_data = (session.query(table_name).filter(table_name.id==123))  # , table_name.ds == id))
get_data_result = session.execute(get_data).scalars().all()

C:\Users\nithi\AppData\Local\Temp\ipykernel_1404\1114407748.py:3: SADeprecationWarning: Object <sqlalchemy.orm.query.Query object at 0x000001F8974ABF10> should not be used directly in a SQL statement context, such as passing to methods such as session.execute().  This usage will be disallowed in a future release.  Please use Core select() / update() / delete() etc. with Session.execute() and other statement execution methods.
  get_data_result = session.execute(get_data).scalars().all()

In [82]:
a=classes.tbl_employees.__table__

In [90]:
a.columns

In [92]:
# table_name
# for getting the column names
column_names = [(column.name,column.type) for column in classes.tbl_employees.__table__.columns]

In [96]:
column_names

[('id', INTEGER()),
 ('empname', VARCHAR(length=150)),
 ('emploc', VARCHAR(length=150)),
 ('empsal', DOUBLE_PRECISION(precision=53)),
 ('empadd', NullType()),
 ('empdesignation', VARCHAR(length=150)),
 ('is_manager', SMALLINT()),
 ('is_teamlead', SMALLINT()),
 ('dateofjoin', TIMESTAMP()),
 ('lastdate', TIMESTAMP())]

In [ ]:
json_data={"id":123}
column_names = [column.name for column in table_name.__table__.columns]

In [49]:
# json_data
json_data={"id":123}
lt=["where"]
for column in table_name.__table__.columns:
    print(column)
    if json_data.get(str(column).replace("tbl_employees.",""), None) is not None:
      lt.append(f"""{table_name.__table__.columns.get("id")}=={json_data.get(str(column).replace("tbl_employees.",""))}""")

tbl_employees.id
tbl_employees.empname
tbl_employees.emploc
tbl_employees.empsal
tbl_employees.empadd
tbl_employees.empdesignation
tbl_employees.is_manager
tbl_employees.is_teamlead
tbl_employees.dateofjoin
tbl_employees.lastdate

In [50]:
print(lt)

['where', 'tbl_employees.id==123']

In [23]:
table_name = classes.tbl_employees
json_data={"id":1, "empname":"test"}
temp =""
temp = session.query(table_name)
for k, v in json_data.items():
  t=table_name.__table__.columns.get(k, None)
  temp = temp.filter(t == v)  # , table_name.ds == id))
# temp = temp.filter(table_name.id == 1)
# temp = temp.filter(table_name.empname == "test")
get_data = temp
# print(text(get_data))
get_data_result = session.execute(get_data).scalars().all()
for i in get_data_result:
  print(i.id)

C:\Users\nithi\AppData\Local\Temp\ipykernel_26620\1350635902.py:12: SADeprecationWarning: Object <sqlalchemy.orm.query.Query object at 0x000002D416669880> should not be used directly in a SQL statement context, such as passing to methods such as session.execute().  This usage will be disallowed in a future release.  Please use Core select() / update() / delete() etc. with Session.execute() and other statement execution methods.
  get_data_result = session.execute(get_data).scalars().all()

1

In [15]:
from sqlalchemy import create_engine, MetaData, text, column
# column(id) = 123

In [20]:
for d in get_data_result:
  print(d.id)

123
123

In [24]:
json_data = {"key": "value"}

# construct a filter condition using a text object
condition = text("json_data = :data")

In [25]:
print(condition)

json_data = :data

In [39]:
from sqlalchemy import create_engine, text, column
import json
json_data = {"id": 123, "name": "mage"}
assignments = [column(key) == value for key, value in json_data.items()]
print(assignments)

[<sqlalchemy.sql.elements.BinaryExpression object at 0x000002983400F310>, <sqlalchemy.sql.elements.BinaryExpression object at 0x000002983419EDF0>]

In [33]:
search_key = 'abc'
search_args = [col.ilike('%%%s%%' % search_key) for col in ['col1', 'col2', 'col3']]

print(search_args)

AttributeError: 'str' object has no attribute 'ilike'

In [16]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"a": 1, "b": 4, "c": 3}

# Get the keys with different values
diff_keys = [k for k in dict1.keys() if k in dict2 and dict1[k] != dict2[k]]
print("Keys with different values:", diff_keys)

Keys with different values: ['b']

In [66]:
import datetime, json
def make_data_compatible(json_data: dict, sub_check: str = "no"):
    new_dict = {}
    for k, v in json_data.items():
        if isinstance(v, dict):
            v = make_data_compatible(v, sub_check="yes")
            if sub_check == "no":
                v = json.dumps(v).replace('"', '\"')
        elif isinstance(v, bytes):
            v = v.decode()
        elif isinstance(v, datetime.datetime):
            v = v.strftime("%Y-%m-%d")
        elif not isinstance(v, str):
            v = str(v)
        if isinstance(k, bytes):
            k = k.decode()
        new_dict[k] = v
    return new_dict

In [67]:
data = {'id': 9989627, 'empname': 'EMP_998967', 'emploc': 'UAE', 'empsal': 12000.0, 'empadd': {b'H.No': b'0-41/553', b'email': b'EMP_998967@gmail.com', b'country': b'UAE', b'zipcode': b'81438'}, 'empdesignation': 'Senior-Software-Engineer', 'is_manager': 0, 'is_teamlead': 0, 'dateofjoin': datetime.datetime(2022, 11, 20, 0, 0), 'Lastdate': None}
# data = {'id': 9989627, 'empname': 'EMP_998967', 'empdesignation': 'Senior-Software-Engineer', 'is_manager': 0, 'is_teamlead': 0, 'dateofjoin': datetime.datetime(2022, 11, 20, 0, 0)}
print(make_data_compatible(data))

{'id': '9989627', 'empname': 'EMP_998967', 'emploc': 'UAE', 'empsal': '12000.0', 'empadd': '{"H.No": "0-41/553", "email": "EMP_998967@gmail.com", "country": "UAE", "zipcode": "81438"}', 'empdesignation': 'Senior-Software-Engineer', 'is_manager': '0', 'is_teamlead': '0', 'dateofjoin': '2022-11-20', 'Lastdate': 'None'}

In [19]:
record_values = {'id': 9989627, 'empname': 'EMP_998967', 'emploc': 'UAE', 'empsal': 12000.0, 'empadd': {b'H.No': b'0-41/553', b'email': b'EMP_998967@gmail.com', b'country': b'UAE', b'zipcode': b'81438'}, 'empdesignation': 'Senior-Software-Engineer', 'is_manager': 0, 'is_teamlead': 0, 'dateofjoin': datetime.datetime(2022, 11, 20, 0, 0), 'Lastdate': None}
for k,v in record_values.items():
    new_dict = {}
    # Dict/json values are in bytes, so coverting it to string
    if isinstance(v,dict):
        for key, val in v.items():
            new_dict[key.decode()] = val.decode()
        str_dict_value = json.dumps(new_dict).replace('"', '\\"')
        record_values[k]=str_dict_value
    import datetime
    if isinstance(v, datetime.datetime):
        record_values[k] = v.strftime("%Y-%m-%d")

In [20]:
record_values

{'id': 9989627,
 'empname': 'EMP_998967',
 'emploc': 'UAE',
 'empsal': 12000.0,
 'empadd': '{\\"H.No\\": \\"0-41/553\\", \\"email\\": \\"EMP_998967@gmail.com\\", \\"country\\": \\"UAE\\", \\"zipcode\\": \\"81438\\"}',
 'empdesignation': 'Senior-Software-Engineer',
 'is_manager': 0,
 'is_teamlead': 0,
 'dateofjoin': '2022-11-20',
 'Lastdate': None}